/*для оформления сайта в целом*/
body {
    background:  linear-gradient(to top, #9c5488 0%, #a6c1ee 100%);
    overflow-x: hidden;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }

 #atm {
    height: 200vh;
 } 


.container {
  position: relative;
  width: 70%;
  padding: auto;
  margin: auto;
  background-color: rgba(143, 69, 69, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.image{
  display: none;
}

/* Для галлереи   */
#prev{  
  position: absolute;
  top: 43%;
  left: 0;
  cursor: pointer;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#next{
  position: absolute;
  top: 43%;
  right: 0;
  cursor: pointer;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#prev:hover, #next:hover {
  background: rgba(0, 0, 0, 0.5);
} 

.dots{

  text-align: center;
  margin-top: 2%;
}
.gallery{
  align-items: center;
  width: 80%;
}
.dot{
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  /* преключение от одной к другой */
  transition: background-color 0.6s ease;
}

/* для того чтобы была точка более тёмной при показе изображения */
.active{
  background-color: #717171;
} 

/* описываем анимацию для переключения между картинками */
.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

#id1{
  position:absolute;
  left:10px;
  top:10px;
  width:100%;
  height:60px;
  background:rgb(218, 150, 150); 
  font-size: 20px; align-content: center;
}



#header {
    height: 180px;
}
#navigation{
    z-index: 200;
    width: 100%;
    background: rgb(78, 182, 230);
    height: 40px;
    font-size: 25px;
    line-height: 40px;
    position: relative;
    top: 140px;
}
#navigation.fixed{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(78, 182, 230, 0.95);
}
#navigation ul{
    width: 50%;
    padding-left: 0;
    margin: 0 auto;
    display: block;
    text-align: center;
    
}
#menu li{
    display: inline-block;
    list-style: none;
    padding: 0 25px;
    border-right: 1px solid #66accc;
}
#menu a {
    color: #fff;
    text-decoration: none;
    font-family: Verdana;
    transition: all .15s ease-out;
}
#menu>li a:hover{
    color: #2b2831;

}


#txt {
  color: #fff;
  text-decoration: none;
  font-family: Verdana;
  display: block;
  text-align: center;
}



/* для истории*/
.text {
    display:inline-block;   
    position:relative;
 }
 .text h2{
    display: inline-block; 
    position: absolute;
    top: 800px; left: 400px;
}
    .text div {
        display: inline-block; 
        position: absolute;
        top: 100px; left: 430px;
        font-size: 30pt;
        padding: 10 100px;
    }
 /*для эпизодов*/  
 .text1 b {
  color: #16199f;
  font-size: 35pt;
  } 
 
  .text1 {
    display:inline-block;   
    position:relative;
 }

    .text1 div {
        display: inline-block;
        position: absolute;
        top: 800px;
        left: 300px;
        font-size: 35pt;
    }
  

  
.close {
        display: inline-block;
        border: 1px solid #666666;
		    border-radius: 35px;
        color: #666666;
        padding: 10 12px;
        text-decoration: none;
        background: #ffffff;
        font-size: 25pt;
        cursor:pointer;
      }
#fraza { padding: 10 150px;
         
}  

.chp {
		cursor: pointer;
}

.drop-zone {
    width: 600px;
    height: 600px;
    display: inline-block;
    margin-left: 24px;
    font-size: 1rem;
    background-image: url("https://picsum.photos/600/600/?random");
    opacity: 0.4;
  }

/*искуственный чат*/
#mychat{
  display: block;
 
}
.ey-dropdown {
    position: relative;
  }
  .ey-dropdown__menu {
    position: absolute;
    left: 0;
    text-align: left;
    background-color: #fff;
    padding: 10px 5px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    min-width: 280px;
    transition: all 0.29s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }
  .ey-dropdown__menu:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 15px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    transform: rotate(40deg);
  }
  .ey-dropdown__menu.open {
    visibility: visible;
    opacity: 1;
    transform: translateY(20px);
  }
  .ey-dropdown__menu-item {
    display: block;
    line-height: 1.4;
    padding: 4px 20px !important;
  }
  
  .navbar-nav {
    padding: 20px 40px;
    margin-bottom: 0;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 4px;
  }
  .navbar-nav li {
    display: inline-block;
    font-size: 18px;
  }
  .navbar-nav li a {
    padding: 5px 0.8rem;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.09s ease-in-out;
  }
  .navbar-nav li a:hover {
    color: #4776E6;
  }
  .navbar-nav li a .material-icons {
    vertical-align: middle;
    margin-left: -4px;
  }
  

  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    height: calc( 100vh - 100px );
    text-align: center;
    
    padding-left: 500px;
    padding-right: 500px;
  }
  .wrapper h1 {
    margin-bottom: 0px;
  }
  .wrapper h3 {
    margin-bottom: 35px;
    margin-top: 10px;
  }
  .wrapper h3 a {
    text-decoration: none;
    color: #4776E6;
  }
  
  .btn-accent {
    display: inline-block;
    line-height: 1.6;
    padding: 12px 40px;
    font-size: 18px;
    border: none;
    background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%);
    background-size: 200%;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.19s ease-in-out;
  }
  .btn-accent:hover {
    background-position: -100%;
    transform: scale(1.05);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  }
  .btn-accent:focus {
    outline: none;
  }
  .btn-accent:active {
    transform: scale(1.01);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  #clock{
    color: #0071D0;
 font-weight: bold;
  font-size: 20px;
}


/*для калькулятора*/
.calculator{
  width: 370px;
  margin: auto;
  border-radius: 2px;
  background:  #f2f2f2;
  padding: 15px 15px 20px 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

#user_input{
  box-sizing: border-box;
  width: 100%;
  padding: 40px 5px;
  background: whitesmoke;
  text-align: right;
  direction: ltr;
  outline: none;
  border: none;
  font-size: 2rem;
}

.btn{
  width: 24%;
  height: 45px;
  border-radius: 1px;
  border: none;
  outline: none;
  margin-top: 3px;
  background: whitesmoke;
}

.btnEqual{
  width: 99.2%;
  height: 45px;
  border-radius: 1px;
  border: none;
  outline: none;
  margin-top: 3px;
  background: whitesmoke;
}

.btn:hover, .btnEqual:hover{background-color: rgba(128, 128, 128, 0.1);}

@media(max-width:480px){
  .btn{width: 23.4%;}
}

@media(max-width:320px){
  .btn{width: 23%;}
}
